JingZhao2/verification/bin/DirectedTesting/csrc/_4138_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_4350_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_6299_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_7423_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_8720_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_9208_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_10159_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_11319_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_12235_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_12458_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_13717_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_csrc0.so
JingZhao2/verification/bin/DirectedTesting/csrc/_prev_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_prev_cginfo.json
JingZhao2/verification/bin/DirectedTesting/csrc/_vcs_pli_stub_.c
JingZhao2/verification/bin/DirectedTesting/csrc/_vcs_pli_stub_.o
JingZhao2/verification/bin/DirectedTesting/csrc/cgincr.sdb
JingZhao2/verification/bin/DirectedTesting/csrc/cginfo.json
JingZhao2/verification/bin/DirectedTesting/csrc/cgproc.13717.json
JingZhao2/verification/bin/DirectedTesting/csrc/checksum
JingZhao2/verification/bin/DirectedTesting/csrc/cwidincr.db
JingZhao2/verification/bin/DirectedTesting/csrc/filelist
JingZhao2/verification/bin/DirectedTesting/csrc/filelist.cu
JingZhao2/verification/bin/DirectedTesting/csrc/filelist.dpi
JingZhao2/verification/bin/DirectedTesting/csrc/filelist.hsopt
JingZhao2/verification/bin/DirectedTesting/csrc/filelist.hsopt.llvm2_0.objs
JingZhao2/verification/bin/DirectedTesting/csrc/filelist.hsopt.objs
JingZhao2/verification/bin/DirectedTesting/csrc/filelist.pli
JingZhao2/verification/bin/DirectedTesting/csrc/import_dpic.h
JingZhao2/verification/bin/DirectedTesting/csrc/Makefile
JingZhao2/verification/bin/DirectedTesting/csrc/Makefile.hsopt
JingZhao2/verification/bin/DirectedTesting/csrc/pre.cgincr.sdb
JingZhao2/verification/bin/DirectedTesting/csrc/product_timestamp
JingZhao2/verification/bin/DirectedTesting/csrc/rmapats_mop.o
JingZhao2/verification/bin/DirectedTesting/csrc/rmapats.c
JingZhao2/verification/bin/DirectedTesting/csrc/rmapats.h
JingZhao2/verification/bin/DirectedTesting/csrc/rmapats.m
JingZhao2/verification/bin/DirectedTesting/csrc/rmapats.o
JingZhao2/verification/bin/DirectedTesting/csrc/rmar_llvm_0_0.o
JingZhao2/verification/bin/DirectedTesting/csrc/rmar_llvm_0_1.o
JingZhao2/verification/bin/DirectedTesting/csrc/rmar_nd.o
JingZhao2/verification/bin/DirectedTesting/csrc/rmar.c
JingZhao2/verification/bin/DirectedTesting/csrc/rmar.h
JingZhao2/verification/bin/DirectedTesting/csrc/rmar.o
JingZhao2/verification/bin/DirectedTesting/csrc/rmar0.h
JingZhao2/verification/bin/DirectedTesting/csrc/SIM_l.o
JingZhao2/verification/bin/DirectedTesting/csrc/uvm_dpi.d
JingZhao2/verification/bin/DirectedTesting/csrc/uvm_dpi.o
JingZhao2/verification/bin/DirectedTesting/csrc/uvm_verdi_dpi.d
JingZhao2/verification/bin/DirectedTesting/csrc/uvm_verdi_dpi.o
JingZhao2/verification/bin/DirectedTesting/csrc/archive.10/_13717_archive_1.a
JingZhao2/verification/bin/DirectedTesting/csrc/archive.10/_13717_archive_1.a.info
JingZhao2/verification/bin/DirectedTesting/csrc/archive.10/_prev_archive_1.a
JingZhao2/verification/bin/DirectedTesting/csrc/archive.10/_prev_archive_1.a.info
JingZhao2/verification/bin/DirectedTesting/csrc/hsim/hsim.sdb
JingZhao2/verification/bin/DirectedTesting/csrc/objs/amcQw_d.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/bGVbw.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/BqQ1J.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/Ra4J4.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/sP9AV.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/sW8pK.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/xMfnH.o
JingZhao2/verification/bin/DirectedTesting/csrc/objs/udps/z2gKY.o
JingZhao2/verification/bin/DirectedTesting/DVEfiles/cmd_dve_sim.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/dve_gui.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/dve_gui.log.sml
JingZhao2/verification/bin/DirectedTesting/DVEfiles/dve_history.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/dve_qtwarnings.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/dve_sim.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/session_2025-08-19T21_36_36.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/session_2025-08-19T22_37_39.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/session.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.20/cmd_dve_sim.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.20/dve_gui.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.20/dve_history.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.20/synopsys_dve_ini.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.20/synopsys_dve_prefs.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.20/ucli.key
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.30/cmd_dve_sim.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.30/dve_gui.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.30/dve_history.log
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.30/synopsys_dve_ini.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.30/synopsys_dve_prefs.tcl
JingZhao2/verification/bin/DirectedTesting/DVEfiles/crash_08.19-21.30/ucli.key
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/_13717_archive_1.so
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/_csrc0.so
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/_prev_archive_1.so
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/.daidir_complete
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/.normal_done
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/.vcs.timestamp
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/binmap.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/build_db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/cgname.json
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/constraint.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/covg_defs
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/DPIFuncTaskList
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/eblklvl.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/elabmoddb.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/external_functions
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/hslevel_callgraph.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/hslevel_level.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/hslevel_rtime_level.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/hsscan_cfg.dat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/nsparam.dat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/pcc.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/pcxpxmr.dat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/prof.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/rmapats.dat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/rmapats.so
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/saifNetInfo.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/simv.kdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/stitch_nsparam.dat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/tt.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vc_hdrs.c
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vc_hdrs.o
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcs_rebuild
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_master_hsim_elabout.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_master_hsim_virtintf_info.dat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hil_stmts.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsdef.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsim_elab.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsim_fegate.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsim_lvl.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsim_merge.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsim_name.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_hsim_uds.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_midd.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_mnmn.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_partition.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_partitionDbg.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_tCEYNb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_udpid2name.map
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_vcselabref.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/vcselab_misc_vpdnodenums
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/cc/cc_bcode.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/cc/cc_dummy_file
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/.version
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/AllModulesSkeletons.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/dumpcheck.db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/dve_debug.db.gz
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/HsimSigOptDb.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/src_files_verilog
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/topmodules
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/vir.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/fsearch/.create_fsearch_db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/fsearch/check_fsearch_db
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/fsearch/fsearch.stat
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/fsearch/idents_bI5vjU.xml.gz
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/fsearch/idents_tapi.xml.gz
JingZhao2/verification/bin/DirectedTesting/.run_case.vpd.uvm
JingZhao2/verification/bin/DirectedTesting/.vcs_checkpoint_shared_memory.mazhenlong.2815
JingZhao2/verification/bin/DirectedTesting/.vcs_checkpoint_shared_memory.mazhenlong.2847
JingZhao2/verification/bin/DirectedTesting/.vcs_checkpoint_shared_memory.mazhenlong.4736
JingZhao2/verification/bin/DirectedTesting/compile.log
JingZhao2/verification/bin/DirectedTesting/hca_test
JingZhao2/verification/bin/DirectedTesting/novas_dump.log
JingZhao2/verification/bin/DirectedTesting/novas.fsdb
JingZhao2/verification/bin/DirectedTesting/run_case.log
JingZhao2/verification/bin/DirectedTesting/run_case.vpd
JingZhao2/verification/bin/DirectedTesting/run.log
JingZhao2/verification/bin/DirectedTesting/ucli.key
JingZhao2/verification/bin/DirectedTesting/vc_hdrs.h
JingZhao2/verification/bin/DirectedTesting/wave.vpd
JingZhao2/verification/bin/DirectedTesting/csrc/_4328_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/_11282_archive_1.so
JingZhao2/verification/bin/DirectedTesting/csrc/cgproc.4328.json
JingZhao2/verification/bin/DirectedTesting/csrc/archive.12/_4328_archive_1.a
JingZhao2/verification/bin/DirectedTesting/csrc/archive.12/_4328_archive_1.a.info
JingZhao2/verification/bin/DirectedTesting/csrc/archive.12/_prev_archive_1.a
JingZhao2/verification/bin/DirectedTesting/csrc/archive.12/_prev_archive_1.a.info
JingZhao2/verification/bin/DirectedTesting/dprof_1.dir/timeline.txt
JingZhao2/verification/bin/DirectedTesting/dprof_2.dir/t0.conf
JingZhao2/verification/bin/DirectedTesting/dprof_2.dir/timeline.txt
.gitignore
JingZhao2/verification/bin/DirectedTesting/dprof_3.dir/t0.conf
JingZhao2/verification/bin/DirectedTesting/dprof_3.dir/timeline.txt
JingZhao2/verification/bin/DirectedTesting/dprof_4.dir/t0.conf
JingZhao2/verification/bin/DirectedTesting/dprof_4.dir/timeline.txt
JingZhao2/verification/bin/DirectedTesting/dprof.dir/t0.conf
JingZhao2/verification/bin/DirectedTesting/dprof.dir/timeline.txt
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/_4328_archive_1.so
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/fgp_rtime_event.sdb
JingZhao2/verification/bin/DirectedTesting/hca_test.daidir/debug_dump/fsearch/idents_qd9NEG.xml.gz
JingZhao2/verification/bin/DirectedTesting/dprof_1.txt
JingZhao2/verification/bin/DirectedTesting/dprof_4.txt
JingZhao2/verification/bin/DirectedTesting/dprof.txt
